---
  const { item , zindex } = Astro.props;
---
    <article class=`container item_${item.category}`>
        <div class=`card ${zindex}` draggable="true" id={item.id} slug={item.slug}>
            <div class={item.class} >
                <img src={item.image} alt={item.name}>
            </div>
        </div>
    </article> 
<style>
    .small_illustration {
        width: 4rem;
    }

    .big_illustration{
        width: 16rem;
    }
    
    .mid_illustration{
        width: 8rem;
    }


   
    .card{
        width: 13rem;
        height:13rem;
    }
</style>