---
  const { item } = Astro.props;
---
    <article class=`container item_${item.category}`>
        <div class="card" draggable="true" id={item.id}>
            <div class={item.class} >
                <img src={item.image} alt={item.name}>
            </div>
        </div>
    </article> 
<style>
    .small_illustration {
        width: 100px;
    }
    .container{
        margin-left: 20px;
    }
    
    .card{
        width: 200px;
        height:200px;
        border-radius: black;
    }

   
</style>